{% extends "main.html" %}

{% block content %}

<div class="container {% if oldPassword %} navbar-exist {% endif %} ">
        {% if passwordResetError %}
            <div class="password-criteria red-border-background">
              <p>Password Error:</p>
              <p>{{ passwordResetError }}</p>
            </div>
        {% endif %}

        <div class="password-criteria green-border-background">
          <p>Password Criteria:</p>
          <p>1. Your password can’t be too similar to your other personal information.</p>
          <p>2. Your password must contain at least 8 characters.</p>
          <p>3. Your password can’t be a commonly used password.</p>
          <p>4. Your password can’t be entirely numeric.</p>
        </div>


    <div class="wrapper">
        <h2>{% if oldPassword %} Change {% else %} Reset {% endif %} Password</h2>
        <form class="form" action="" method="POST">

          {% csrf_token %}
            {% if oldPassword %}
              <div class="field__group">
                <input class="input-field" id="id_old_password" type="password" name="old_password" autofocus autocomplete="off"  placeholder=" " required>
                <label class="input-label" for="id_old_password">Old Password</label>
              </div>
            {% endif %}

            <div class="field__group">
              <input class="input-field" id="id_new_password1" type="password" autocomplete="new-password" name="new_password1"  placeholder=" " required>
              <label class="input-label" for="id_new_password1">New Password</label>
            </div>

            <div class="field__group">
              <input class="input-field" id="id_new_password2" type="password" autocomplete="new-password" name="new_password2"  placeholder=" " required>
              <label class="input-label" for="id_new_password2">New Password Confirmation</label>
            </div>
              
            <div class="submit-button-margin">
                <button type="submit" class="btn btn--main">
                  <svg fill="white" version="1.1" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 32 32">
                    <title>Submit</title>
                    <path d="M27 12h-1v-2c0-5.514-4.486-10-10-10s-10 4.486-10 10v2h-1c-0.553 0-1 0.447-1 1v18c0 0.553 0.447 1 1 1h22c0.553 0 1-0.447 1-1v-18c0-0.553-0.447-1-1-1zM8 10c0-4.411 3.589-8 8-8s8 3.589 8 8v2h-16v-2zM26 30h-20v-16h20v16z"></path>
                    <path d="M15 21.694v4.306h2v-4.306c0.587-0.348 1-0.961 1-1.694 0-1.105-0.895-2-2-2s-2 0.895-2 2c0 0.732 0.413 1.345 1 1.694z"></path>
                  </svg>
                  Submit
                </button>
            </div>
            
        </form>
      
    </div>
  </div> 

{% endblock content %}